<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>All the cupcakes</h1>

    <ul id="cupcake-list"></ul>

    <h1>Add a cupcake</h1>
    <form id="cupcake-form">
        <label for="input-flavor">Flavor: </label>
        <input type="text" name="flavor" id="input-flavor">

        <label for="input-size">Size: </label>
        <input type="text" name="size" id="input-size">

        <label for="input-rating">Rating: </label>
        <input type="number" name="rating" id="input-rating">

        <label for="input-image">Image: </label>
        <input type="url" name="image" id="input-image">

        <button>Add Cupcake</button>
    </form>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/index.js"></script>
</body>
</html>